
body#RedlineWidget  {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#RedlineWidget h1 {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
}

#RedlineWidget td,
#RedlineWidget th {
  text-align: left;
  vertical-align: text-top;
  font-size: 12px;
  padding: 2px 10px;
  margin-bottom: 30px;
  border: 0px;
}

#RedlineWidget th {
  font-weight: bold;
  vertical-align: text-top;
}

#RedlineWidgetFeatureList {
  min-width: 250px;
  width: 250px;
}
